@import '../../styles/mixins';

.auth {
	@include flexCenter(row);
	width: 100%;
	height: 100vh;
	&__heading {
		font-size: 54px;
	}
	&__container {
		@include flexCenter(column);
		width: 100%;
		max-width: 500px;
	}
	.custom-input-container {
		margin: 40px 0 20px 0;
	}
}
